<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.middle.ding.mapper.DingProductMapper">

	<resultMap type="com.ruoyi.middle.ding.domain.DingProduct" id="DingProductResult">
		<id     property="id"    column="id"    />
		<result property="productName"    column="product_name"    />
		<result property="productType"    column="product_type"    />
		<result property="productCategory"    column="product_category"    />
		<result property="isDefault"    column="is_default"    />
		<result property="price"    column="price"    />
		<result property="syncFormLimit"    column="sync_form_limit"    />
		<result property="singleSyncLimit"    column="single_sync_limit"    />
		<result property="monthSyncLimit"    column="month_sync_limit"    />
		<result property="status"    column="status"    />
		<result property="sort"    column="sort"    />
		<result property="remark"    column="remark"    />
		<result property="ext1"    column="ext1"    />
		<result property="ext2"    column="ext2"    />
		<result property="ext3"    column="ext3"    />
	</resultMap>
	
	<sql id="selectDingProductVo">
        select id, product_name, product_type, product_category, is_default, price, sync_form_limit, single_sync_limit, 
               month_sync_limit, status, sort, remark, ext1, ext2, ext3 
		from ding_product
    </sql>

	<select id="selectDingProductList" parameterType="com.ruoyi.middle.ding.domain.DingProduct" resultMap="DingProductResult">
	    <include refid="selectDingProductVo"/>
		<where>
		    <if test="productName != null and productName != ''">
				AND product_name like concat('%', #{productName}, '%')
			</if>
			<if test="productType != null">
				AND product_type = #{productType}
			</if>
			<if test="productCategory != null and productCategory != ''">
				AND product_category = #{productCategory}
			</if>
			<if test="isDefault != null">
				AND is_default = #{isDefault}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
	    </where>
	    order by sort desc, id asc
	</select>
	
	<select id="selectDingProductById" parameterType="Long" resultMap="DingProductResult">
		<include refid="selectDingProductVo"/>
		where id = #{id}
	</select>
	
	<select id="selectDefaultProduct" resultMap="DingProductResult">
		<include refid="selectDingProductVo"/>
		where is_default = 1 and status = 1 limit 1
	</select>
	
	<select id="checkProductNameUnique" parameterType="String" resultMap="DingProductResult">
		<include refid="selectDingProductVo"/>
		where product_name = #{productName} limit 1
	</select>
	
	<delete id="deleteDingProductById" parameterType="Long">
   		delete from ding_product where id = #{id}
   	</delete>
   	
   	<delete id="deleteDingProductByIds" parameterType="Long">
   		delete from ding_product where id in
   		<foreach collection="array" item="id" open="(" separator="," close=")">
   			#{id}
        </foreach> 
   	</delete>

   	<update id="updateDingProduct" parameterType="com.ruoyi.middle.ding.domain.DingProduct">
   		update ding_product
   		<set>
   			<if test="productName != null and productName != ''">product_name = #{productName},</if>
   			<if test="productType != null">product_type = #{productType},</if>
   			<if test="productCategory != null">product_category = #{productCategory},</if>
   			<if test="isDefault != null">is_default = #{isDefault},</if>
   			<if test="price != null">price = #{price},</if>
   			<if test="syncFormLimit != null">sync_form_limit = #{syncFormLimit},</if>
   			<if test="singleSyncLimit != null">single_sync_limit = #{singleSyncLimit},</if>
   			<if test="monthSyncLimit != null">month_sync_limit = #{monthSyncLimit},</if>
   			<if test="status != null">status = #{status},</if>
   			<if test="sort != null">sort = #{sort},</if>
   			<if test="remark != null">remark = #{remark},</if>
   			<if test="ext1 != null">ext1 = #{ext1},</if>
   			<if test="ext2 != null">ext2 = #{ext2},</if>
   			<if test="ext3 != null">ext3 = #{ext3},</if>
   		</set>
   		where id = #{id}
   	</update>
   	
   	<insert id="insertDingProduct" parameterType="com.ruoyi.middle.ding.domain.DingProduct" useGeneratedKeys="true" keyProperty="id">
   		insert into ding_product(
   			product_name,
   			product_type,
   			product_category,
   			is_default,
   			price,
   			sync_form_limit,
   			single_sync_limit,
   			month_sync_limit,
   			status,
   			sort,
   			remark
   			<if test="ext1 != null">,ext1</if>
   			<if test="ext2 != null">,ext2</if>
   			<if test="ext3 != null">,ext3</if>
   		)values(
   			#{productName},
   			#{productType},
   			#{productCategory},
   			#{isDefault},
   			#{price},
   			#{syncFormLimit},
   			#{singleSyncLimit},
   			#{monthSyncLimit},
   			#{status},
   			#{sort},
   			#{remark}
   			<if test="ext1 != null">,#{ext1}</if>
   			<if test="ext2 != null">,#{ext2}</if>
   			<if test="ext3 != null">,#{ext3}</if>
   		)
   	</insert>
   	
</mapper>
