<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.middle.ding.mapper.DingSyncLogMapper">

	<resultMap type="com.ruoyi.middle.ding.domain.DingSyncLog" id="DingSyncLogResult">
		<id     property="id"    column="id"    />
		<result property="dingCorpId"    column="ding_corp_id"    />
		<result property="dingFormId"    column="ding_form_id"    />
		<result property="syncCount"    column="sync_count"    />
		<result property="status"    column="status"    />
		<result property="errorMsg"    column="error_msg"    />
		<result property="ext1"    column="ext1"    />
		<result property="ext2"    column="ext2"    />
		<result property="ext3"    column="ext3"    />
	</resultMap>
	
	<sql id="selectDingSyncLogVo">
        select id, ding_corp_id, ding_form_id, sync_count, status, error_msg, ext1, ext2, ext3 
		from ding_sync_log
    </sql>

	<select id="selectDingSyncLogList" parameterType="com.ruoyi.middle.ding.domain.DingSyncLog" resultMap="DingSyncLogResult">
	    <include refid="selectDingSyncLogVo"/>
		<where>
		    <if test="dingCorpId != null and dingCorpId != ''">
				AND ding_corp_id like concat('%', #{dingCorpId}, '%')
			</if>
			<if test="dingFormId != null and dingFormId != ''">
				AND ding_form_id like concat('%', #{dingFormId}, '%')
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="params.beginTime != null and params.beginTime != ''">
				and date_format(create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''">
				and date_format(create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
			</if>
	    </where>
	    order by id desc
	</select>
	
	<select id="selectDingSyncLogById" parameterType="Long" resultMap="DingSyncLogResult">
		<include refid="selectDingSyncLogVo"/>
		where id = #{id}
	</select>
	
	<select id="selectDingSyncLogByCorpId" parameterType="String" resultMap="DingSyncLogResult">
		<include refid="selectDingSyncLogVo"/>
		where ding_corp_id = #{dingCorpId}
		order by id desc
	</select>
	
	<select id="sumSyncCountByCorpIdAndMonth" resultType="int">
		select ifnull(sum(sync_count), 0) from ding_sync_log 
		where ding_corp_id = #{dingCorpId} 
		and status = 1 
		and date_format(create_time, '%Y%m') = #{month}
	</select>
	
	<delete id="deleteDingSyncLogById" parameterType="Long">
  		delete from ding_sync_log where id = #{id}
  	</delete>
  	
  	<delete id="deleteDingSyncLogByIds" parameterType="Long">
  		delete from ding_sync_log where id in
  		<foreach collection="array" item="id" open="(" separator="," close=")">
  			#{id}
        </foreach> 
  	</delete>

  	<insert id="insertDingSyncLog" parameterType="com.ruoyi.middle.ding.domain.DingSyncLog" useGeneratedKeys="true" keyProperty="id">
  		insert into ding_sync_log(
  			ding_corp_id,
  			ding_form_id,
  			sync_count,
  			status,
  			error_msg
  			<if test="ext1 != null">,ext1</if>
  			<if test="ext2 != null">,ext2</if>
  			<if test="ext3 != null">,ext3</if>
  		)values(
  			#{dingCorpId},
  			#{dingFormId},
  			#{syncCount},
  			#{status},
  			#{errorMsg}
  			<if test="ext1 != null">,#{ext1}</if>
  			<if test="ext2 != null">,#{ext2}</if>
  			<if test="ext3 != null">,#{ext3}</if>
  		)
  	</insert>
  	
</mapper>
